---
layout: default
title:  Страница не найдена

class:  page
---

.max-width
  %h1.page-title
    Не найдено :(
  %aricle
    %h2
      Извините, но страница, которую Вы пытались найти не существует.