---
layout: default
title:  О нас

class:  about-us
---

.max-width
  %article.page-article
    %h1
      О нас
  .about-article
    %article.max-width
      %p.red-indent
        7bits — компания, помогающая клиентам добиваться своих целей. Наши клиенты обычно имеют свой сложившийся бизнес и
        хотят вывести его на новый уровень за счет автоматизации какой-то его части, либо опробовать новую идею на практике.
      %p
        Наша стезя — веб-разработка. Мы умеем ее хорошо и по-разному.
      %p
        Сайты-визитки - это не про нас. Нам интересно заниматься задачами, где есть к чему приложить мозг.
      %p
        Где нужна мощь и надежность традиционного подхода - мы используем технологии Java.
      %p
        Где нужна максимальная гибкость и скорость разработки - мы применяем такие фрэймфорки и технологии как Ruby on Rails, Django, HAML/SASS, CoffeeScript.
      %p
        Где нужна скорость и гибкость, но не хочется терять всю мощь Java-библиотек и надежность Java-технологий - мы используем Groovy с фрэймворком Grails.
      %p
        В нашем мобильном мире заказчикам все чаще требуется оптимизировать уже существующие сайты под мобильные браузеры (iPhone, iPad, Galaxy Tab) и мы умеем это.
      %p
        Мы любим руководствоваться здравым смыслом и принципом разумной достаточности в разработке и поэтому наш выбор - Agile development, и конкретно SCRUM.
      %p
        Мы не стремимся стать больше, мы стремимся стать лучше. Иногда для этого действительно приходится немного вырасти в размере, и мы готовы пойти на это,
        если вы поможете нам решать задачи наших клиентов.