---
layout: default
title:  Контакты

class:  contacts-page
---


%script{:src => "http://api-maps.yandex.ru/2.0/?coordorder=longlat&load=package.full&wizard=constructor&lang=ru-RU&onload=fid_134207103620382262664"}
%script{:src => "/assets/js/yandex-map.js"}

.max-width
  %article.page-article.clearfix
    %hgroup>
      %h1.page-title>
        Контакты
    .contacts-box.clearfix
      %ul.contacts-list.middle-block.right
        %li.phone
          %span.icon-mobile-alt
          %i
            +7 (909) 535-00-73
        %li.email
          %span.icon-mail-1
          %a{:href => 'mailto:aloha@7bits.it'}
            %i
              aloha@7bits.it
        %li.skype
          %span.icon-skype
          %a{:href => 'skype:anna_tarasenko?chat'}
            %i
              anna_tarasenko
        %li.address
          %span.icon-flag
          %i
            Омск, Учебная 83, офис 212
      .map.middle-block.left
        .map-wrap
          #ymaps-map-id_134207103620382262664.map-box