---
layout: default
title:  Друзьям и коллегам из других компаний

class:  page
---

.max-width.for-friends-page.clearfix
  .clearfix
    %article.page-article
      %h1.page-title
        Мероприятия
      
      :markdown
        C удовольствием проводим открытые мероприятия, где каждый желающий может сделать мини-доклад о разработке или на любую другую интересную нам тему. Мы приглашаем в наш офис гостей, вместе слушаем интересных докладчиков, поедаем нехитрое угощение и играем в настольные игры.

      
        Если у вас есть, чем поделиться с коллегами, вы хотите провести репетицию доклада перед ИТ-конференцией и получить конструктивную обратную связь - вся команда 7bits будет рада видеть вас в нашем офисе.

        [Расскажите нам о своем докладе](mailto:aloha@7bits.it) и приходите на очередную встречу.
      %p.center-position
        %img{:src => 'assets/images/pizza.png', :alt => 'Друзьям и коллегам из других компаний'}
      

    %aside.events
      %h2.events-title
        Календарь омских IT-событий
      %ul.events-list
        %li.clearfix
          %time
            %i.date
              28
            %b.month
              июля
          .event-desc
            :markdown
              Летний [CodeFest mini](http://codefest.ru) в Новосибирске
            %dl.event-author
              %dt
                На конференцию едут четыре человека от 7bits
        %li.clearfix
          %time
            %i.date
              13
            %b.month
              июля
          .event-desc
            :markdown
              Встреча [Omsk JS Usergroup](http://omsk-js.ru). Доклад &laquo;JavaScript: от&nbsp;простого к&nbsp;сложному&raquo;.
            %dl.event-author
              %dt
                докладчик:
              %dd
                Александр Яткевич
      %p
        %b.icon-calendar
          %a{:href => 'webcal://p03-calendarws.icloud.com/ca/subscribe/1/fsB1earlNBMiYdJQwrkIYAXQItWcaRGKbCmUuuH0R2cPccHMqXaFuieVtNwK9wi_13aB9v7wFjxapUV9O-ajtoHajaAjmxQm1jUtqrQbqDQ'} iCloud
        &nbsp;&nbsp;
        %b.icon-calendar
          %a{:href => 'https://www.google.com/calendar/embed?src=MjJiZmptb3U4dmZmOXRxMzg0YmM2bTRjZjhAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&gsessionid=gyHRJJywB7S5egjTm9RUoA'} Google calendar


      / %p.all-events
      /   %a{:href => 'events.html'}
      /     все мероприятия
