---
layout: default
title: Наши мероприятия
---

.max-width.events-page
    %hgroup>
        %h1
            Мероприятия
            %span>
                за
            %b
                <a href="#2012">2012</a>,
                <a href="#2011">2011</a>,
                <a href="#2010">2010</a>
                год
    %h2{:id => 2012}
        2012
    %ul.events-list
        %li.clearfix
            %time
                %i.date
                    26
                %b.month
                    апреля
            .event-desc
                %a{:href => '#'} Рассказ о поездке в США и работе в oDesk.
                %dl.event-author
                    %dt
                        докладчик:
                    %dd
                        Юревич Юрий
        %li.clearfix
            %time
                %i.date
                    26
                %b.month
                    апреля
            .event-desc
                %a{:href => '#'} Рассказ о поездке в США и работе в oDesk.
                %dl.event-author
                    %dt
                        докладчик:
                    %dd
                        Юревич Юрий
        %li.clearfix
            %time
                %i.date
                    26
                %b.month
                    апреля
            .event-desc
                %a{:href => '#'} Рассказ о поездке в США и работе в oDesk.
                %dl.event-author
                    %dt
                        докладчик:
                    %dd
                        Юревич Юрий
        %li.clearfix
            %time
                %i.date
                    26
                %b.month
                    апреля
            .event-desc
                %a{:href => '#'} Рассказ о поездке в США и работе в oDesk.
                %dl.event-author
                    %dt
                        докладчик:
                    %dd
                        Юревич Юрий
    %h2{:id => 2011}
        2011
    %ul.events-list
        %li.clearfix
            %time>
                %i.date
                    11
                %b.month
                    ноября
            .event-desc
                %a{:href => '#'} Рассказ о конференции AgileCamp, Новосибирск, 3-4 ноября 2011 г.
                %dl.event-author
                    %dt
                        докладчик:
                    %dd
                        Тарасенко Анна
        %li.clearfix
            %time>
                %i.date
                    7
                %b.month
                    октября
            .event-desc
                %a{:href => '#'} Впечатления от ИТ-конференций ProfitConf, HighLoad++, 404fest, StartUp Weekend.
                %dl.event-author
                    %dt
                        докладчики:
                    %dd
                        Тарасенко Анна, Хлызов Евгений, Немытченко Иван, Яткевич Александр
        %li.clearfix
            %time>
                %i.date
                    20
                %b.month
                    мая
            .event-desc
                %a{:href => '#'} Web-приложения: интерфейс пользователя, управление статическим и динамическим контентом.
                %dl.event-author
                    %dt
                        докладчик:
                    %dd
                        Ефремочкин Юрий
        %li.clearfix
            %time>
                %i.date
                    13
                %b.month
                    мая
            .event-desc
                %a{:href => '#'} Встреча дружественных команд на свободную тему, наши проекты
        %li.clearfix
            %time>
                %i.date
                    24
                %b.month
                    апреля
            .event-desc
                %a{:href => '#'} Web-сервера и их использование для управления нагрузкой на приложение.
                %dl.event-author
                    %dt
                        докладчик:
                    %dd
                        Ефремочкин Юрий
        %li.clearfix
            %time>
                %i.date
                    15
                %b.month
                    апреля
            .event-desc
                %a{:href => '#'} История проекта Sonru на Ruby On Rails.
                %dl.event-author
                    %dt
                        докладчик:
                    %dd
                        Михайлов Анатолий (RailsgeekLab.com)
        %li.clearfix
            %time>
                %i.date
                    25
                %b.month
                    марта
            .event-desc
                %a{:href => '#'} JavaScript: Прототипное ООП - от простого к сложному.
                %dl.event-author
                    %dt
                        докладчик:
                    %dd
                        Яткевич Александр
        %li.clearfix
            %time>
                %i.date
                    15
                %b.month
                    марта
            .event-desc
                %a{:href => '#'} История проекта Sonru на Ruby On Rails.
                %dl.event-author
                    %dt
                        докладчик:
                    %dd
                        Михайлов Анатолий
        %li.clearfix
            %time>
                %i.date
                    11
                %b.month
                    марта
            .event-desc
                %a{:href => '#'} Jabber/XMPP в теории и практике.
                %dl.event-author
                    %dt
                        докладчик:
                    %dd
                        Добров Сергей
    %h2{:id => 2010}
        2010
    %ul.events-list
        %li.clearfix
            %time>
                %i.date
                    26
                %b.month
                    апреля
            .event-desc
                %a{:href => '#'} Рассказ о поездке в США и работе в oDesk.
                %dl.event-author
                    %dt
                        докладчик:
                    %dd
                        Юревич Юрий
