---
layout: default
title:  Друзьям и коллегам из других компаний

class:  page
---

.max-width.for-friends-page.clearfix
  .clearfix
    %article
      %h1.page-title
        Мероприятия
      %img{:src => 'assets/images/pizza.png', :alt => 'Друзьям и коллегам из других компаний', :style => 'float:right'}
      / %p
      /   Мы с удовольствием проводим открытые мероприятия, где каждый желающий может сделать мини-доклад о разработке или на любую другую интересную нам тему. Мы приглашаем в наш офис гостей, вместе слушаем интересных докладчиков, поедаем нехитрое угощение и играем в настольные игры.

      / %p
      /   Если у вас есть, чем поделиться с коллегами, вы хотите провести репетицию доклада перед ИТ-конференцией и получить конструктивную обратную связь - вся команда 7bits будет рада видеть вас в нашем офисе.
      :markdown
        Постоянно участвуем в различных мероприятиях города и страны. Несколько последних: 

        * Онлайн-трансляция Google I/O
        * [QASib в Омске](http://www.qasib.ru/2012/06/23-qasib.html)
        * MongoDB. Базовые знания
        * День рождения 7bits
        * [Омская хабравстреча](http://habrahabr.ru/events/726/)



        Есть интересная тема для доклада? [Расскажите нам о ней](mailto:aloha@7bits.it).

      

    / %aside.events
    /   %h1
    /     %a{:href => 'events.html'}
    /       Наши мероприятия
    /   %ul.events-list
    /     %li.clearfix
    /       %time
    /         %i.date
    /           20
    /         %b.month
    /           мая
    /       .event-desc
    /         %a{:href => '#'}
    /           Web-приложения: интерфейс пользователя, управление статическим и динамическим контентом.
    /         %dl.event-author
    /           %dt
    /             докладчик:
    /           %dd
    /             Ефремочкин Юрий
    /     %li.clearfix
    /       %time
    /         %i.date
    /           26
    /         %b.month
    /           апреля
    /       .event-desc
    /         %a{:href => '#'}
    /           Рассказ о поездке в США и работе в oDesk.
    /         %dl.event-author
    /           %dt
    /             докладчик:
    /           %dd
    /             Юревич Юрий
    /     %li.clearfix
    /       %time
    /         %i.date
    /           7
    /         %b.month
    /           октября
    /       .event-desc
    /         %a{:href => '#'}
    /           Впечатления от ИТ-конференций ProfitConf, HighLoad++, 404fest, StartUp Weekend.
    /         %dl.event-author
    /           %dt
    /             докладчики:
    /           %dd
    /             Тарасенко Анна, Хлызов Евгений, Немытченко Иван, Яткевич Александр
    /     %li.clearfix
    /       %time
    /         %i.date
    /           1
    /         %b.month
    /           ноября
    /       .event-desc
    /         %a{:href => '#'}
    /           Рассказ о конференции AgileCamp, Новосибирск, 3-4 ноября 2011 г.
    /         %dl.event-author
    /           %dt
    /             докладчик:
    /           %dd
    /             Тарасенко Анна
    /   %p.all-events
    /     %a{:href => 'events.html'}
    /       все мероприятия
  / .for-students-page
  /   %article.page-article
  /     %h2.page-title Новости для молодежи

      

  /     :markdown
  /       Если вы студент, и думаете после выпуска работать в IT, у нас для вас плохие новости. Практическая программа в большинстве наших вузов безнадежно устарела.

  /     %img{:src => 'assets/images/for-students.png', :alt => 'Для студентов', :style => 'float:left'}

  /     :markdown
  /       Анна Тарасенко по мере сил влияет на ситуацию. Ее спецкурс **"Современные&nbsp;практики&nbsp;разработки&nbsp;ПО"** проводится на базе ОмГУ в течение 3 лет.
  /       Выпускники спецкурса работают во многих компаниях Омска и России.

  /       Новый набор на годовой курс состоится в сентябре 2012 года. 
  /       Приглашаются студенты третьего-четвертого курсов ИМИТ и ФКН ОмГУ.

  /       Начиная с 2012 года Анна Тарасенко также участвует в работе омской [Школы Программиста](http://progschool.ru).
  /       Занятия для учащихся 7-8 классов проходят по воскресеньям с 14:00 до 16:00 в офисе компании.

      
        

  /     / %h2.page-title
  /     /   Студентам
  /     /   %span
  /     /     и
  /     /   Школьникам
  /     / %p.red-indent
  /     /   Мы понимаем, что состояние российского образования сейчас можно оценить как неоднозначное. Не желая приуменьшать ценность классического образования, мы, тем не менее, помогаем выпускникам и студентам приобретать практические навыки и компетенции, необходимые для успешной работы в области разработки ПО.
  /   / .students-pupils-box
  /   /   .for-students-box
  /   /     %p.center-position
  /   /       %img{:src => 'assets/images/for-students.png', :alt => 'Для студентов'}
  /   /     %p.red-indent
  /   /       %strong
  /   /         Спецкурс
  /   /         &laquo;Современные практики разработки&nbsp;ПО&raquo;
  /   /       проводится на базе ОмГУ в течение 3 лет, лектор Анна Тарасенко, в прошлом преподаватель ОмГУ и программист с более чем 10-летним стажем.
  /   /     %p
  /   /       Выпускники спецкурса работают в лучших, на наш взгляд, компаниях Омска (например, у нас :). Новый набор состоится в сентябре 2012 года, приглашаются студенты 3-4-го курсов ИМИТ и ФКН ОмГУ, продолжительность 1 год.
  /   /   .for-pupils-box
  /   /     %p.center-position
  /   /       %img{:src => 'assets/images/for-pupils.png', :alt => 'Для школьников'}
  /   /     %p.red-indent
  /   /       Начиная с 2012 года Анна Тарасенко принимает участие в работе омской &nbsp;
  /   /       %a{:href => 'http://progschool.ru/'}> Школы Программиста
  /   /       \. Занятия для учащихся 7-8 классов проходят по воскресеньям с 14:00 до 16:00 в офисе нашей компании.
  /   /     %p
  /   /       Поскольку ценность классического образования в области программирования очень велика, мы будем рады видеть вас на ИМИТ и ФКН ОмГУ, где помимо стандартной программы предложим ряд спецкурсов и стажировку.