---
layout: default
title:  Друзьям и коллегам из других компаний

class:  page
---

.max-width.for-friends-page.clearfix
  .clearfix
    %article.page-article
      %h1.page-title
        Мероприятия
      
      %p
        Мы с удовольствием проводим открытые мероприятия, где каждый желающий может сделать мини-доклад о разработке или на любую другую интересную нам тему. Мы приглашаем в наш офис гостей, вместе слушаем интересных докладчиков, поедаем нехитрое угощение и играем в настольные игры.

      %p
        Если у вас есть, чем поделиться с коллегами, вы хотите провести репетицию доклада перед ИТ-конференцией и получить конструктивную обратную связь - вся команда 7bits будет рада видеть вас в нашем офисе.
      :markdown
        Есть интересная тема для доклада? [Расскажите нам о ней](mailto:aloha@7bits.it) и приходите на очередную встречу.
      %p.center-position
        %img{:src => 'assets/images/pizza.png', :alt => 'Друзьям и коллегам из других компаний'}
      

    %aside.events
      
      %ul.events-list
        %li.clearfix
          %time
            %i.date
              20
            %b.month
              мая
          .event-desc
            %a{:href => '#'}
              Web-приложения: интерфейс пользователя, управление статическим и динамическим контентом.
            %dl.event-author
              %dt
                докладчик:
              %dd
                Ефремочкин Юрий
        %li.clearfix
          %time
            %i.date
              26
            %b.month
              апреля
          .event-desc
            %a{:href => '#'}
              Рассказ о поездке в США и работе в oDesk.
            %dl.event-author
              %dt
                докладчик:
              %dd
                Юревич Юрий
        %li.clearfix
          %time.past
            %i.date
              7
            %b.month
              октября
          .event-desc
            %a{:href => '#'}
              Впечатления от ИТ-конференций ProfitConf, HighLoad++, 404fest, StartUp Weekend.
            %dl.event-author
              %dt
                докладчики:
              %dd
                Тарасенко Анна, Хлызов Евгений, Немытченко Иван, Яткевич Александр
        %li.clearfix
          %time.past
            %i.date
              1
            %b.month
              ноября
          .event-desc
            %a{:href => '#'}
              Рассказ о конференции AgileCamp, Новосибирск, 3-4 ноября 2011 г.
            %dl.event-author
              %dt
                докладчик:
              %dd
                Тарасенко Анна
      / %p.all-events
      /   %a{:href => 'events.html'}
      /     все мероприятия
