---
layout: default
title:  Друзьям и коллегам из других компаний

class:  page
---

.max-width.for-friends-page.clearfix
  %h1.page-title
    Мероприятия
  .clearfix
    %article.page-article
      :markdown
        C удовольствием проводим открытые мероприятия, где каждый желающий может сделать мини-доклад о разработке или на любую другую интересную нам тему. Мы приглашаем в наш офис гостей, вместе слушаем интересных докладчиков, поедаем нехитрое угощение и играем в настольные игры.

      
        Если у вас есть, чем поделиться с коллегами, вы хотите провести репетицию доклада перед ИТ-конференцией и получить конструктивную обратную связь - вся команда 7bits будет рада видеть вас в нашем офисе.

        [Расскажите нам о своем докладе](mailto:aloha@7bits.it) и приходите на очередную встречу.
      %p.center-position
        %img{:src => 'assets/images/pizza.png', :alt => 'Друзьям и коллегам из других компаний'}
      

    %aside.events
      %h2.events-title
        Календарь IT-событий
      %ul.events-list
        %li.clearfix
          %time{:datetime => '2012-07-28'}
            %i.date
              28
            %b.month
              июля
          .event-desc
            :markdown
              Летний [CodeFest mini](http://codefest.ru) в Новосибирске
            %dl.event-author
              %dt
                На конференцию едут четыре человека от 7bits
              %dd
        %li.clearfix
          %time{:datetime => '2012-08-10'}
            %i.date
              10
            %b.month
              августа
          .event-desc
            :markdown
              Вторая встреча [Omsk JS User Group](http://omsk-js.ru). Доклад &laquo;Компания моей мечты(как я делал тестовое задание в дизайн-бюро Артема Горбунова)&raquo;.
            %dl.event-author
              %dt
                докладчик: 
              %dd
                Александр Омельницкий
        %li
          %hr
        %li.clearfix
          %time.past{:datetime => '2012-07-28'}
            %i.date
              20
            %b.month
              июля
          .event-desc
            :markdown
              Неформальная [встреча фронтенд-разработчиков](http://vk.com/event40714024) 
            %dl.event-author
              %dt
                в Бельгийском Пабе в 19:00
              %dd

        %li.clearfix
          %time.past{:datetime => '2012-07-13'}
            %i.date
              13
            %b.month
              июля
          .event-desc
            :markdown
              Встреча [Omsk JS User Group](http://omsk-js.ru). Доклад &laquo;JavaScript: от&nbsp;простого к&nbsp;сложному&raquo;.
            %dl.event-author
              %dt
                докладчик:
              %dd
                Александр Яткевич
        %li.clearfix
          %time.past{:datetime => '2012-06-27'}
            %i.date
              27
            %b.month
              июня
          .event-desc
            :markdown
              Совместный просмотр прямой трянсляции Google I/O 2012
        /%li.clearfix
        /  %time.past{:datetime => '2012-06-22'}
        /    %i.date
        /      22
        /    %b.month
        /      июня
        /  .event-desc
        /    :markdown
        /      Первая встреча [омской MongoDB User Group](http://vk.com/mongodbomsk)
        /    %dl.event-author
        /      %dt
        /        :markdown
        /          [Видео](http://www.youtube.com/playlist?list=PL91BE55657AF8F164) и [презентации](https://docs.google.com/folder/d/0B_uuGoU4GQTkTDJQSmp0YTNVM0E/edit) со встречи
        /      %dd
      %p
        Подписаться:
        %b.icon-calendar
          %a{:href => 'https://www.google.com/calendar/embed?src=MjJiZmptb3U4dmZmOXRxMzg0YmM2bTRjZjhAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&gsessionid=gyHRJJywB7S5egjTm9RUoA'} Google calendar
        &nbsp;&nbsp;
        %b.icon-calendar
          %a{:href => 'webcal://p03-calendarws.icloud.com/ca/subscribe/1/fsB1earlNBMiYdJQwrkIYAXQItWcaRGKbCmUuuH0R2cPccHMqXaFuieVtNwK9wi_13aB9v7wFjxapUV9O-ajtoHajaAjmxQm1jUtqrQbqDQ'} iCloud
      
      / %p.all-events
      /   %a{:href => 'events.html'}
      /     все мероприятия
