---
layout: default
title: Наши мероприятия
---

.max-width.events-page
    %hgroup>
        %h1
            Мероприятия
            %span>
                за
            %b
                <a href="#2012">2012</a>,
                <a href="#2011">2011</a>,
                <a href="#2010">2010</a>
                год
    %h2{:id => 2012}
        2012
    %ul.events-list
        %li.clearfix
            %time
                %i.date
                    26
                %b.month
                    апреля
            .event-desc
                %a{:href => '#'} Рассказ о поездке в США и работе в oDesk.
                %dl.event-author
                    %dt
                        докладчик:
                    %dd
                        Юревич Юрий
        %li.clearfix
            %time
                %i.date
                    26
                %b.month
                    апреля
            .event-desc
                %a{:href => '#'} Рассказ о поездке в США и работе в oDesk.
                %dl.event-author
                    %dt
                        докладчик:
                    %dd
                        Юревич Юрий
        %li.clearfix
            %time
                %i.date
                    26
                %b.month
                    апреля
            .event-desc
                %a{:href => '#'} Рассказ о поездке в США и работе в oDesk.
                %dl.event-author
                    %dt
                        докладчик:
                    %dd
                        Юревич Юрий
        %li.clearfix
            %time
                %i.date
                    26
                %b.month
                    апреля
            .event-desc
                %a{:href => '#'} Рассказ о поездке в США и работе в oDesk.
                %dl.event-author
                    %dt
                        докладчик:
                    %dd
                        Юревич Юрий
    %h2{:id => 2011}
        2011
    %ul.events-list
        %li.clearfix
            %time>
                %i.date
                    26
                %b.month
                    апреля
            .event-desc
                %a{:href => '#'} Рассказ о поездке в США и работе в oDesk.
                %dl.event-author
                    %dt
                        докладчик:
                    %dd
                        Юревич Юрий
    %h2{:id => 2010}
        2010
    %ul.events-list
        %li.clearfix
            %time>
                %i.date
                    26
                %b.month
                    апреля
            .event-desc
                %a{:href => '#'} Рассказ о поездке в США и работе в oDesk.
                %dl.event-author
                    %dt
                        докладчик:
                    %dd
                        Юревич Юрий
