---
layout: default
title:  Happy Development

class:  happy-dev
---


.max-width
  %article.page-article.clearfix
    %hgroup>
      %h1.page-title>
        Омская конференция Happy Development

    :markdown
      Почему?
      -------
      Мы решили, что это странно - встречаться с омскими же коллегами на новосибирских, екатеринбуржских и московских конференциях. Поэтому мы решили, что надо уже организовать конференцию для айтишников в родном городе. Друзья из других городов - теперь пожалуйте вы к нам в гости! ;)

      О чем?
      ------
      Главная проблема технических конференций: после многих докладов не ясно, какую проблему решал докладчик с помощью этой классной технологии или подхода.
      Главная проблема конференций, затрагивающих другие вопросы: на них ездят только менеджеры.

      Чего хотим мы: совместно обсуждать все аспекты разработки - как технические, так и нет - со всеми, кто в ней участвует. Ну а слоган конференции нам любезно подарил [@platoff](http://twitter.com/platoff): **"Прежде чем рассказывать как, расскажи зачем!"**

      Ок, давайте на всякий случай проговорим темы: Разработка/Тестирование, Управление/Процессы, UI/Дизайн, Продукт/Контент.

      Где?
      ----
      В Омске. Предположительно в экспоцентре Континента.

      Когда?
      ------
      Хочется успеть к 22 сентября. Пока не понятно, успеваем ли, но стараемся.

    / Почем?
    / ------
    / Мы ориентируемся на стоимость 1500 - 3000 рублей. Точнее мож