---
title:        7bits
description:  7bits — компания, занимающаяся разработкой веб-приложений и сайтов
keywords:     7bits, разработка веб-приложений, разработка ПО, разработка сайтов

layout:       main
class:        main-page
---

%section
  %article.main-article
    .max-width
      %h2
        Разработка и оптимизация <span>веб-приложений и сайтов</span>
      %p
        &mdash; Поможем реализовать новые идеи на практике.
      %p
        &mdash; Оптимизируем ваши сайты под мобильные браузеры (iPhone, iPad, Galaxy Tab).
      %p
        &mdash; Используем различные подходы и технологии.
  .about-article
    %article.max-width
      :markdown
        #Чем занимаемся
        Разработаваем сложные веб-приложения. 
        Не делаем сайты-визитки, интернет-магазины и социальные сети.

        Зато можем автоматизировать застрявшие в прошлом веке бизнес-процессы, разработать систему аналитики или прототип для проверки новой бизнес-идеи.

        Основные технологии: *Java*, *Grails* и *Ruby on Rails*.

        #Наше отношение к делу
        Работа - это любимое дело в жизни. Стать мастером своего дела - достойнейшая цель.
        Не понимаем людей, которые относятся к работе, как к продаже своего времени за деньги.

        #Приглашаем на работу
        На самом деле нет. К нам чертовски сложно попасть. У нас высокие требования к людям, при этом отношение человека к жизни, работе и обучению значат для нас больше чем его текущие знания.

        #Оплачиваем стажировку
        Если у вас нет опыта, но есть базовые знания, горящие глаза и готовность пахать, чтобы оперативно обзавестись необходимыми навыками, мы возьмем вас на оплачиваемую двухмесячную стажировку.

      / %p
      /   7bits — компания, помогающая клиентам добиваться своих целей. Наши клиенты обычно имеют свой сложившийся бизнес и
      /   хотят вывести его на новый уровень за счет автоматизации какой-то его части, либо опробовать новую идею на практике.
      / %p
      /   Наша стезя — веб-разработка. Мы умеем ее хорошо и по-разному.
      / %p
      /   Сайты-визитки - это не про нас. Нам интересно заниматься задачами, где есть к чему приложить мозг.
      / %p
      /   Где нужна мощь и надежность традиционного подхода - мы используем технологии Java.
      / %p
      /   Где нужна максимальная гибкость и скорость разработки - мы применяем такие фрэймфорки и технологии как Ruby on Rails, Django, HAML/SASS, CoffeeScript.
      / %p
      /   Где нужна скорость и гибкость, но не хочется терять всю мощь Java-библиотек и надежность Java-технологий - мы используем Groovy с фрэймворком Grails.
      / %p
      /   В нашем мобильном мире заказчикам все чаще требуется оптимизировать уже существующие сайты под мобильные браузеры (iPhone, iPad, Galaxy Tab) и мы умеем это.
      / %p
      /   Мы любим руководствоваться здравым смыслом и принципом разумной достаточности в разработке и поэтому наш выбор - Agile development, и конкретно SCRUM.
      / %p
      /   Мы не стремимся стать больше, мы стремимся стать лучше. Иногда для этого действительно приходится немного вырасти в размере, и мы готовы пойти на это,
      /   если вы поможете нам решать задачи наших клиентов.

  .main-sub-article
    .main-sub-article-c.max-width.clearfix
      %article.contacts
        %h2
          %a{:href => 'contact-us.html'} Контактная информация
        %ul.contacts-list
          %li
            %b
              Email:
            %a{:href => 'mailto:aloha@7bits.it'} aloha@7bits.it
          %li
            %b
              Skype:
            %a{:href => 'skype:anna_tarasenko?chat'} Anna Tarasenko
          %li
            %b
              Тел:
            +7 (909) 535-00-73
      %article.portfolio
        %h2
          %a{:href => '#'} Портфолио
          %ul
            %li
              %a{:href => '#'}
                %img{:src => 'assets/images/portfolio/radioexchange.png', :alt => 'Mutual Force'}
            %li
              %a{:href => 'http://mutualforce.com'}
                %img{:src => 'assets/images/portfolio/mutual-force.png', :alt => 'Радиобиржа'}
      %article.friends-article
        %h2
          %a{:href => 'for-friends.html'} Друзья, коллегам и учащимся
        %p
          Проводим открытые мероприятия с докладами, с поеданием угощения и настольными играми.
        %p
          %a.archieve{:href => 'events.html'} Архив мероприятий
        %p
          Спецкурсы «Современные практики разработки ПО» на базе ОмГУ для студентов.
        %p
          Принимаем участие в работе омской
          %a{:href => '#'} Школы программиста
          — занятия для учащихся 7-8 классов.
  