---
title:        7bits
description:  7bits — компания, занимающаяся разработкой веб-приложений и сайтов
keywords:     7bits, разработка веб-приложений, разработка ПО, разработка сайтов

layout:       main
class:        main-page
---

%section
  %article.main-article
    .max-width
      %h2
        Разработка и оптимизация <span>веб-приложений и сайтов</span>
      %p
        — Поможем реализовать новые идеи на практике.
      %p
        — Оптимизируем ваши сайты под мобильные браузеры (iPhone, iPad, Galaxy Tab).
      %p
        — Используем различные подходы и технологии.
  .main-sub-article
    .main-sub-article-c.max-width.clearfix
      %article.portfolio
        %h2
          %a{:href => '#'} Портфолио
          %ul
            %li
              %a{:href => '#'}
                %img{:src => 'assets/images/portfolio/radioexchange.png', :alt => 'Mutual Force'}
            %li
              %a{:href => 'http://mutualforce.com'}
                %img{:src => 'assets/images/portfolio/mutual-force.png', :alt => 'Радиобиржа'}
      %article
        %h2
          %a{:href => 'for-friends.html'} Друзьям и коллегам
        %p
          Проводим открытые мероприятия с докладами, с поеданием угощения и настольными играми.
        %p
          %a{:href => 'events.html'} Архив мероприятий
      %article
        %h2
          %a{:href => 'for-students.html'} Студентам и школьникам
        %p
          Спецкурсы «Современные практики разработки ПО» на базе ОмГУ для студентов.
        %p
          Принимаем участие в работе омской
          %a{:href => '#'} Школы программиста
          — занятия для учащихся 7-8 классов.
  .about-article
    %article.max-width
      %p.red-indent
        %dfn
          7bits
        — компания, помогающая клиентам добиваться своих целей. Наши клиенты обычно имеют свой сложившийся бизнес и
        хотят вывести его на новый уровень за счет автоматизации какой-то его части, либо опробовать новую идею на практике.
      %p
        Наша стезя — веб-разработка. Мы умеем ее хорошо и по-разному.
      %p
        Сайты-визитки - это не про нас. Нам интересно заниматься задачами, где есть к чему приложить мозг.
      %p
        Где нужна мощь и надежность традиционного подхода - мы используем технологии Java.
      %p
        Где нужна максимальная гибкость и скорость разработки - мы применяем такие фрэймфорки и технологии как Ruby on Rails, Django, HAML/SASS, CoffeeScript.
      %p
        Где нужна скорость и гибкость, но не хочется терять всю мощь Java-библиотек и надежность Java-технологий - мы используем Groovy с фрэймворком Grails.
      %p
        В нашем мобильном мире заказчикам все чаще требуется оптимизировать уже существующие сайты под мобильные браузеры (iPhone, iPad, Galaxy Tab) и мы умеем это.
      %p
        Мы любим руководствоваться здравым смыслом и принципом разумной достаточности в разработке и поэтому наш выбор - Agile development, и конкретно SCRUM.
      %p
        Мы не стремимся стать больше, мы стремимся стать лучше. Иногда для этого действительно приходится немного вырасти в размере, и мы готовы пойти на это,
        если вы поможете нам решать задачи наших клиентов.
    .offer-box
      Мы вам понравились?&nbsp;
      %a#offer-link{:href => '#'}> Рекомендуйте друзьям
      \!
      :javascript
        (function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=215251065204031";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
      .like-box
        .fb-like{'data-send' => 'true', 'data-width' => '450', 'data-show-faces' => 'true'}