---
title:        7bits
description:  7bits — компания, занимающаяся разработкой веб-приложений и сайтов
keywords:     7bits, разработка веб-приложений, разработка ПО, разработка сайтов

layout:       main
class:        main-page
---

%section.main
  .about-article.border-bottom-gray
    %article.max-width.clearfix
      %h1.page-title
        Разрабатываем сложные веб-приложения<br/> на <em>Java</em>, <em>Grails</em> и <em>Ruby&nbsp;on&nbsp;Rails</em>
      .middle-block.left.blue-text
        :markdown
          Используем гибкие процессы и учимся принципам бережливого производства.

          Можем автоматизировать застрявшие в прошлом веке бизнес-процессы, разработать систему аналитики или прототип для проверки новой бизнес-идеи.

          Не делаем стандартные сайты-визитки, интернет-магазины и социальные сети.
      .middle-block.right
        %img{:src => 'assets/images/main-bg.png', :alt => ''}

  .main-sub-article.blue-block.gray-text
    .main-sub-article-c.max-width.clearfix
<<<<<<< HEAD
      .aa
        %article.middle-block.left
=======
      .middle-block.left
        %article
>>>>>>> be5a2b87b19f02af9378be368127f1ec1324198e
          :markdown
            ##Приглашаем&nbsp;на&nbsp;работу

            На самом деле нет. К нам чертовски сложно попасть. <br/>
            У нас высокие требования к людям.<br/>
            При этом ваше отношение к жизни, работе и обучению значат для нас больше, чем ваши текущие знания.

            [Хочу попробовать](mailto:aloha@7bits.it)
        
        %article.middle-block.right
          :markdown
            ##Берём&nbsp;на&nbsp;стажировку
            Если у вас нет опыта, но есть базовые знания, горящие глаза и готовность пахать, чтобы оперативно обзавестись необходимыми навыками, мы возьмем вас на оплачиваемую двухмесячную стажировку.

      %article.middle-block.left
        :markdown
          ## [Проводим&nbsp;мероприятия](events.html)
          А также постоянно участвуем в различных IT-событиях города и страны.<br/>
          В пятницу, 13 июля в нашем офисе пройдет первая встреча [Omsk JS User Group](http://omsk-js.ru), например.

  .main-sub-article-c.max-width.clearfix
    %article.contacts.middle-block.left
      %h2
        %a{:href => 'contacts.html'} Контакты
      %ul.contacts-list
        %li
          %b.icon-mobile-alt
          +7 (909) 535-00-73
        %li
          %b.icon-mail-1
          %a{:href => 'mailto:aloha@7bits.it'} aloha@7bits.it
        %li
          %b.icon-skype
          %a{:href => 'skype:anna_tarasenko?chat'} anna_tarasenko
    %article.contacts.middle-block.left
      :plain
        <div id="fb-root"></div>
        <script>
            (function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = "//connect.facebook.net/ru_RU/all.js#xfbml=1";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
        </script>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        <div class="like-button">
          <div class="fb-like" data-href="http://www.facebook.com/pages/7bits/183878491667239" data-send="false" data-layout="button_count" data-width="130" data-show-faces="false" data-font="segoe ui"></div>
        </div>