---
title:        7bits
description:  7bits — компания, занимающаяся разработкой веб-приложений и сайтов
keywords:     7bits, разработка веб-приложений, разработка ПО, разработка сайтов

layout:       main
class:        main-page
---

%section
  %article.main-article
    .max-width
      %h2
        Разработка и оптимизация <span>веб-приложений и сайтов</span>
      %p
        &mdash; Поможем реализовать новые идеи на практике.
      %p
        &mdash; Оптимизируем ваши сайты под мобильные браузеры (iPhone, iPad, Galaxy Tab).
      %p
        &mdash; Используем различные подходы и технологии.
  .main-sub-article
    .main-sub-article-c.max-width.clearfix
      %article.portfolio
        %h2
          %a{:href => '#'} Портфолио
          %ul
            %li
              %a{:href => '#'}
                %img{:src => 'assets/images/portfolio/radioexchange.png', :alt => 'Mutual Force'}
            %li
              %a{:href => 'http://mutualforce.com'}
                %img{:src => 'assets/images/portfolio/mutual-force.png', :alt => 'Радиобиржа'}
      %article
        %h2
          %a{:href => 'for-friends.html'} Друзьям и коллегам
        %p
          Проводим открытые мероприятия с докладами, с поеданием угощения и настольными играми.
        %p
          %a{:href => 'events.html'} Архив мероприятий
      %article
        %h2
          %a{:href => 'for-students.html'} Студентам и школьникам
        %p
          Спецкурсы «Современные практики разработки ПО» на базе ОмГУ для студентов.
        %p
          Принимаем участие в работе омской
          %a{:href => '#'} Школы программиста
          — занятия для учащихся 7-8 классов.