---
title:        7bits
description:  7bits — компания, занимающаяся разработкой веб-приложений и сайтов
keywords:     7bits, разработка веб-приложений, разработка ПО, разработка сайтов

layout:       main
class:        main-page
---

%section.main
  / %article.main-article
  /   .max-width

  .about-article
    %article.max-width.clearfix
      .middle-block.left
        :markdown
          ##Чем занимаемся
          Разрабатываем сложные веб-приложения на *Java*, *Grails* и *Ruby&nbsp;on&nbsp;Rails*. 

          Используем гибкие процессы и учимся принципам бережливого производства.

          Можем автоматизировать застрявшие в прошлом веке бизнес-процессы, разработать систему аналитики или прототип для проверки новой бизнес-идеи.

          Не делаем стандартные сайты-визитки, интернет-магазины и социальные сети.


        / #additional-technologies
        /   :markdown
        /     Дополнительные: 
        /     *Oracle*, *MySQL*, *Postgres*, *MongoDB*, <br/>
        /     *HAML/SASS*, *Django* <br/>


      .middle-block.right
        %br      
        %img{:src => 'assets/images/main-bg.png'}
        
    / .main-article-portfolio
    /   %article.portfolio.max-width
    /     :markdown
    /       ##Проекты и клиенты
    /     %ul.clearfix
    /       %li
    /         %a{:href => '#'}
    /           %img{:src => 'assets/images/portfolio/knigabyte.png', :alt => 'Рост-Медиа'}
    /       %li
    /         %a{:href => '#'}
    /           %img{:src => 'assets/images/portfolio/cellogic.png', :alt => 'Celllogic'}
    /       %li
    /         %a{:href => 'http://newyorkshopexchange.com'}
    /           %img{:src => 'assets/images/portfolio/nyse.png', :alt => 'NYSE'}
    /       %li
    /         %a{:href => 'http://радиобиржа.рф'}
    /           %img{:src => 'assets/images/portfolio/radioexchange.png', :alt => 'Mutual Force'}
    /       %li
    /         %a{:href => 'http://mutualforce.com'}
    /           %img{:src => 'assets/images/portfolio/mutual-force.png', :alt => 'Радиобиржа'}



  .main-sub-article
    .main-sub-article-c.max-width.clearfix
      %article.middle-block.left
        :markdown
          ##Приглашаем на работу
          На самом деле нет. К нам чертовски сложно попасть. У нас высокие требования к людям.<br/>
          При этом ваше отношение к жизни, работе и обучению значат для нас больше, чем ваши текущие знания.

          [Хотите попробовать?](mailto:aloha@7bits.it)

      %article.middle-block.right
        :markdown
          ##Оплачиваем стажировку
          Если у вас нет опыта, но есть базовые знания, горящие глаза и готовность пахать, чтобы оперативно обзавестись необходимыми навыками, мы возьмем вас на оплачиваемую двухмесячную стажировку.

        / [Хотите попробовать?](jobs.html)

    .main-sub-article-c.max-width.clearfix
      %article.contacts.middle-block.left
        %h2
          %a{:href => 'contacts.html'} Контакты
        %ul.contacts-list
          %li
            %b.icon-mobile-alt
            +7 (909) 535-00-73
          %li
            %b.icon-mail-1
            %a{:href => 'mailto:aloha@7bits.it'} aloha@7bits.it
          %li
            %b.icon-skype
            %a{:href => 'skype:anna_tarasenko?chat'} anna_tarasenko


      %article.friends-article.middle-block.right

        :markdown
          ## [Проводим мероприятия](events.html)
          А также постоянно участвуем в различных мероприятиях города и страны.<br/>
          В пятницу, 13 июля в нашем офисе пройдет первая встреча [Omsk Javascript User Group](http://omsk-js.ru), например.
          
        // Есть интересная тема для доклада? [Расскажите нам о ней](mailto:aloha@7bits.it).

