---
layout: default
title:  Портфолио

class:  portfolio-page
---

.max-width
  %h1.page-title
    Портфолио
  %section
    %article.clearfix
      .portfolio-image
        %img{:src => 'assets/images/portfolio/radioexchange-img.png', :alt => 'Радиобиржа'}
      .portfolio-desc
        %hgroup.portfolio-desc-header
          %h2
            Радиобиржа
        .portfolio-desc-content
          :markdown
            **Задача**: 

          %p
            Портал, созданный для покупки и продажи радиодеталей и электронных компонентов.  На сервисе можно увидеть
            не только товары продаваемые  фирмой (или человеком), но и иформацию о ней, историю удачных и неудачных
            сделок, рекомендации покупателей, а так же проходящие акции и т. п.
          %p.portfolio-desc-content-technologies
            %strong
              Технологии:
            HTML5 (Modernizr/Boilerplate), CSS3, Javascript, Groovy/Grails
    %article.clearfix
      .portfolio-image
        %img{:src => 'assets/images/portfolio/mutualforce-img.png', :alt => 'Mutualforce'}
      .portfolio-desc
        %hgroup.portfolio-desc-header
          %h2
            Mutualforce
          %a.portfolio-link{:href => 'http://mutualforce.com'}
            mutualforce.com
        .portfolio-desc-content
          %p
            Сервис для подготовки еще учащихся студентов к проффессиональной жизни. Основная особенность проекта в том,
            что обучение студентов берут на себя “наставники” - реально работающие профессионалы - посредством
            интернета с использованием форумов, видео конференций и т. п.
          %p.portfolio-desc-content-technologies
            %strong
              Технологии:
            HTML5 (Modernizr/Boilerplate), CSS3, Javascript, Java/Spring
    %article.clearfix
      .portfolio-image
        %img{:src => 'assets/images/portfolio/demo-form-img.png', :alt => 'Mutualforce'}
      .portfolio-desc
        %hgroup.portfolio-desc-header
          %h2
            Demo-form
        .portfolio-desc-content
          %p
            Демо-версия формы, реализованная для устройств iPad и Android. С помощью Jquery Mobile реализован интерфейс, максимально приближенный к нативным приложениям iPad.
          %p.portfolio-desc-content-technologies
            %strong
              Технологии:
            HTML5 (Modernizr/Boilerplate), CSS3, Javascript, Jquery/Mobile, Java/Spring