---
layout: default
title:  Обучение и стажировка

class:  page
---

.max-width.for-students-page.clearfix
  %article.page-article
    %h1.page-title>
      Обучение
    %p
      Если вы студент, и думаете после выпуска работать в IT, у нас для вас плохие новости. Практическая программа в большинстве российских вузов безнадежно устарела.

      Мы помогаем выпускникам и студентам приобретать практические навыки и компетенции, необходимые для успешной работы в области разработки ПО.

  .students-pupils-box.clearfix
    %article.middle-block.left
      :markdown
        ##Студентам

        Спецкурс **"Современные&nbsp;практики&nbsp;разработки&nbsp;ПО"** проводится на базе ОмГУ в течение 3 лет.
        Выпускники спецкурса работают во многих компаниях Омска и России.

        Новый набор на годовой курс состоится в сентябре 2012 года. 
        Приглашаются студенты третьего-четвертого курсов ИМИТ и ФКН ОмГУ.


    / %article.for-pupils-box

    /   :markdown
    /     ##Школьникам
      
    /     Начиная с 2012 года Анна Тарасенко участвует в работе омской [Школы Программиста](http://progschool.ru)
        
    /   %p
    /     Занятия для учащихся 7-8 классов начнутся в сентябре.
    /     / проходят по воскресеньям с 14:00 до 16:00 в офисе нашей компании.
        
    /   %p.center-position
    /     %img{:src => 'assets/images/for-pupils.png', :alt => 'Для школьников'}

    %article.middle-block.right
      %h2
        Стажировка
      %p
        Если у вас нет опыта, но есть базовые знания, горящие глаза и готовность пахать, чтобы оперативно обзавестись необходимыми навыками, мы возьмем вас на оплачиваемую двухмесячную стажировку.
      / %p
      /   За время стажировки вы научитесь ... и ... [TODO]

  %p.center-position
    %img{:src => 'assets/images/for-students.png', :alt => 'Для студентов'}
