.ui-page,
html {
    background: #ddd;
}

.ui-page .ui-content {
    padding: 0;
}

.client-service-tabs div.ui-radio {
    width: 25%;
}

.client-service-tabs div.ui-radio label {
    width: 100%;
    text-align: center;
}

.client-service-tabs div.ui-radio .ui-btn-inner {
    padding-left: 0;
    padding-right: 0;
}

.ui-field-contain .ui-select {
    width: 100%;
}

.ui-field-contain .ui-controlgroup-label {
    display: inline-block;
    width: 30%;
    vertical-align: middle;
}

.find-form .ui-field-contain .ui-controlgroup-controls,
.ui-field-contain .ui-controlgroup-controls {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    width: 64.9%;
}

.ui-field-contain .field-wrap input,
.ui-field-contain .field-wrap textarea {
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.field-wrap input[disabled],
.field-wrap textarea[disabled] {
    opacity: .4;
    filter: alpha(opacity=40);
}

.ui-field-contain label.ui-input-text,
.ui-field-contain label.ui-slider,
.ui-field-contain label.ui-select,
.ui-field-contain label.playing-label,
.tabbed fieldset {
    float: left;
    width: 30%;
    margin-right: 1.5%;
}
label {
    margin-top: .5em;
}

.menu-panel h4 {
    margin: 10px 0;
    text-align: left;
    width: 30%;
}

.menu-panel .menu-link.ui-btn {
    margin: .5em 0;
}

.ui-header .choose-devices .ui-btn {
    display: block;
}

fieldset.choose-devices {
    margin: 20px 0 0;
    text-align: left;
}

.field-wrap div.ui-controlgroup.ui-controlgroup-horizontal {
    margin: 5px 0 0;
}

.link-control .form-control {
    margin-bottom: 7px;
}
.link-control .field-wrap a.button-all {
    margin: 0;
}
.link-control .field-wrap div.button-all {
    width: 0;
    float: left;
    margin-top: -10px;
}

.custom-fields .ui-select {
    float: right;
    width: 69%;
}


.title-maximum .ui-title {
    margin-left: 12%;
    margin-right: 12%;
}