// Lobster

// @font-face 
//   font-family: 'Lobster'
//   font-style: normal
//   font-weight: 400
//   src: url('../font/lobster.ttf') format('truetype')

// PTSans

@font-face 
  font-family: 'PTSansRegular'
  src: url('../font/PTS55F-webfont.eot')
  src: url('../font/PTS55F-webfont.eot?#iefix') format('embedded-opentype'), url('../font/PTS55F-webfont.woff') format('woff'), url('../font/PTS55F-webfont.ttf') format('truetype'), url('../font/PTS55F-webfont.svg#PTSansRegular') format('svg')
  font-weight: normal
  font-style: normal

// Intro

@font-face 
  font-family: 'IntroRegular'
  src: url('intro-webfont.eot')
  src: url('intro-webfont.eot?#iefix') format('embedded-opentype'), url('intro-webfont.woff') format('woff'), url('intro-webfont.ttf') format('truetype'), url('intro-webfont.svg#IntroRegular') format('svg')
  font-weight: normal
  font-style: normal
