// PTSans

@font-face 
  font-family: 'PTSansRegular'
  src: url('../fonts/PTS55F-webfont.eot')
  src: url('../fonts/PTS55F-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/PTS55F-webfont.woff') format('woff'), url('../fonts/PTS55F-webfont.ttf') format('truetype'), url('../fonts/PTS55F-webfont.svg#PTSansRegular') format('svg')
  font-weight: normal
  font-style: normal

// Ubuntu Condensed Regular

@font-face 
  font-family: 'Ubuntu Condensed'
  src: url('../fonts/ubuntu-c-webfont.eot')
  src: url('../fonts/ubuntu-c-webfont?#iefix') format('embedded-opentype'), url('../fonts/ubuntu-c-webfont.woff') format('woff'), url('../fonts/ubuntu-c-webfont.ttf') format('truetype'), url('../fonts/ubuntu-c-webfont.svg#IntroRegular') format('svg')
  font-weight: normal
  font-style: normal
