/* For friends */

.for-friends-page
  .page-article
    float: left
    width: 490px
    h1 span
      font-size: 46px
  .events
    float: right
    width: 350px
    .events-title
      margin-top: 10px
      font-weight: normal
      color: #598f21
      font-size: 24px
    a.events-title
      &:hover
        color: #7ac729
  .events-list
    margin: 15px 0 0 0
    padding: 0
    list-style: none
    li
      margin: 0 0 30px
      time
        position: relative
        width: 57px
        float: left
        margin: 0 15px 0 0
        text-align: center
        -moz-border-radius: 5px
        -webkit-border-radius: 5px
        border-radius: 5px
        border: 1px solid #ccc
        font-family: arial
        i.date
          display: block
          color: #103556
          font-style: normal
          font-size: 31px
          line-height: 1.3em
        b.month
          width: 100%
          display: block
          color: #fff
          font-weight: normal
          font-size: 11px
          background: #598F21
          -moz-border-radius: 0 0 4px 4px
          -webkit-border-radius: 0 0 4px 4px
          border-radius: 0 0 4px 4px
          line-height: 1.3em
        &.past
          i.date
            color: #ccc
          b.month
            background: #ccc

      .event-desc
        float: right
        width: 275px
        line-height: 20px
        p
          margin: 0
        a
          color: #1f1f1f
          font-size: 16px
          &:hover
            color: #224499
          &:visited
            color: $visitedLinkNormal
          &:visited:hover
            color: $visitedLinkHover
      .event-author
        display: block
        margin: 6px 0 0
        color: #575757
        font-weight: normal
        font-size: 16px
      dt, dd
        display: inline
      dd
        margin: 0 0 0 5px
        color: #1f1f1f
  .all-events
    text-align: right
    a
      color: #00BBFF
      &:hover
        color: #3377BB