/* For students and pupils page */

.for-students-page
  .students-pupils-box
    p
      img
        margin: 0 0 15px
      a
        color: #00BBFF
        &:hover
          color: #3377BB
        &:visited
          color: $visitedLinkNormal
        &:visited:hover
          color: $visitedLinkHover