/* For friends */

.for-friends-page h1 {
  width: 594px;
}

.for-friends-page .page-article {
  float: left;
  width: 490px;
}

.for-friends-page .page-article h1 span {
  font-size: 46px;
}

.for-friends-page .events {
  float: right;
  width: 350px;
}

.for-friends-page .events h1 a {
  font-weight: normal;
  color: #598f21;
  font-size: 24px;
}

.for-friends-page .events h1 a:hover {
  color: #7ac729;
}

.for-friends-page .events-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.for-friends-page .events-list li {
  margin: 0 0 30px;
}

.for-friends-page .events-list time {
  width: 57px;
  height: 50px;
  float: left;
  margin: 0 15px 0 0;
  background: url(../images/date-bg.png) no-repeat;
  text-align: center;
}

.for-friends-page .events-list time i.date {
  display: block;
  color: #103556;
  font-style: normal;
  line-height: 35px;
  font-size: 31px;
}

.for-friends-page .events-list time b.month {
  display: block;
  color: #fff;
  font-weight: normal;
  line-height: 13px;
  font-size: 12px;
}

.for-friends-page .events-list .event-desc {
  float: right;
  width: 275px;
  line-height: 20px;
}

.for-friends-page .event-desc a {
  color: #1f1f1f;
  font-size: 16px;
}

.for-friends-page .event-desc a:hover {
  color: #224499;
}

.for-friends-page .event-author {
  display: block;
  margin: 6px 0 0;
  color: #575757;
  font-weight: normal;
  font-size: 16px;
}

.for-friends-page .event-author dt,
.for-friends-page .event-author dd {
  display: inline;
}

.for-friends-page .event-author dd {
  margin: 0 0 0 5px;
  color: #1f1f1f;
}

.all-events {
  text-align: right;
}

.all-events a {
  color: #00BBFF;
}

.all-events a:hover {
  color: #3377BB;
}