/* For students and pupils page */

.for-students-page .page-article h1 {
  margin-right: -18px;
  text-align: center;
}

.for-students-page .page-article h1 span {
  padding: 0 28px;
  font-size: 45px;
}

.for-students-box,
.for-pupils-box {
  width: 49%;
}

.for-students-box {
  float: left;
}

.for-pupils-box {
  float: right;
}

.students-pupils-box p a {
  color: #00BBFF;
}

.students-pupils-box p a:hover {
  color: #3377BB;
}