/* Home page */

.main-article
  border-bottom: 1px solid #ddd
  div 
    height: 300px
    background: url(../images/main-article.png) no-repeat 0% 17px
  h2,
  h1
    // width: 594px
    height: 0
    margin: 14px 0 0
    color: #042d52
    // font-size: 32px
    line-height: 55px
    font-weight: normal
    font-family: "Georgia"
    font-style: italic
  p
    width: 280px
    float: right
    clear: both
    margin: 14px 0 9px
    font-size: 20px
    line-height: 26px

.main-page h2 span
  font-size: 54px

.main-sub-article
  border-top:    1px solid #fff
  border-bottom: 1px solid #D2D2D2
  background: #e8e8e8
  font-family: "PT Sans", Helvetica, Arial
  article
    width: 48%
    float: left
    color: #103556
    font-size: 16px
  .contacts
    width: 23.9%
    ul
      margin: 0
      padding: 0
      li
        display: inline-block
        margin: 0 0 2px
        a
          color: #0299d6
          &:hover
            color: #16a
        b
          color: #999
          font-weight: normal
        &:hover b
          color: #666
  .friends-article
    width: 45+30%
  h2
    margin-bottom: 5px
    font-size: 20px
    a
      color: #3673b8
      &:hover
        color: #249
  .archieve
    color: #3673b8
    &:hover
      color: #249
  p
    padding: 0 20px 0 0
    margin-top: 0
    a
      color: #0bf
      &:hover
        color: #37b

.main-article-portfolio
  .portfolio
    a
      display: block
      overflow: hidden
      height: 50px
  ul
    margin: 0
    padding: 0
    display: block
    list-style: none
    li
      margin: 0 50px 0 0
      float: left
      a
        &:hover
          img
            margin: -50px 0 0

.main-sub-article-c
  padding: 11px 0 15px

.about-article
  padding: 22px 0 36px
  background: #dbe5ec url(../images/logo-bg.png) no-repeat center 72%
  border-top: 1px solid #f3f6f9
  border-bottom: 1px solid #bacedc
  h2
    font-size: 20px
  article
    .left-column
      width: 56%
    .right-column
      width: 44%
    .left-column
      float: left
    .right-column
      float: right
  dfn
    display: inline-block
    font-size: 28px
    line-height: 14px
    font-style: normal
    font-weight: bold


#about-company
  em
    color: #a02008