/* Home page */

.main-article
  border-bottom: 1px solid #ddd
  div 
    height: 300px
    background: url(../images/main-article.png) no-repeat 0% 17px
  h2, h1
    height: 0
    margin: 14px 0 0
    color: #042d52
    // font-size: 32px
    line-height: 55px
    font-weight: normal
    font-family: "Georgia"
    font-style: italic
  p
    width: 280px
    float: right
    clear: both
    margin: 14px 0 9px
    font-size: 20px
    line-height: 26px

.main-page h2 span
  font-size: 54px

.main-sub-article
  border-top:    1px solid #fff
  border-bottom: 1px solid #D2D2D2
  background: #e8e8e8
  article
  h2
    margin-bottom: 5px
  .archieve
    color: #3673b8
    &:hover
      color: #249
  p
    padding: 0 20px 0 0
    margin-top: 0
    a
      color: #0bf
      &:hover
        color: #37b

.main-article-portfolio
  .portfolio
    a
      display: block
      overflow: hidden
      height: 50px
  ul
    margin: 0
    padding: 0
    display: block
    list-style: none
    li
      margin: 0 50px 0 0
      float: left
      a
        &:hover
          img
            margin: -50px 0 0

.main-sub-article-c
  padding: 11px 0 15px

.blue-block
  background: #dbe5ec url(../images/logo-bg.png) no-repeat center 72%
  border-bottom: 1px solid #bacedc
  border-top: 1px solid #f3f6f9

.about-article
  padding: 0 0 36px
  dfn
    display: inline-block
    font-size: 28px
    line-height: 14px
    font-style: normal
    font-weight: bold

.contacts
  ul
    margin: 0
    padding: 0
    li
      list-style: none
      margin: 0 0 2px
      a
        color: #0299d6
        &:hover
          color: #16a
      b
        color: #042D52
        font-weight: normal

h2
  a
    &:visited,
      color: #3673b8
    &:hover
      color: #249