$visitedLinkNormal: #551a8b
$visitedLinkHover: #6061a3

$externalLinkNormal: #551a8b
$externalLinkHover: #6061a3

body
  font-family: 'PTSansRegular', Helvetica, Arial

.max-width
  width: 930px
  margin: auto

/* Header */

header 
  height: 70px
  background-color: #eee
  *background-color: #eee
  background-image:     -ms-linear-gradient(top, #ddd, #eee)
  background-image:        -webkit-gradient(linear, 0 0, 0 100%, from(#ddd), to(#eee))
  background-image: -webkit-linear-gradient(top, #ddd, #eee)
  background-image:      -o-linear-gradient(top, #ddd, #eee)
  background-image:         linear-gradient(top, #ddd, #eee)
  background-image:    -moz-linear-gradient(top, #ddd, #eee)
  background-repeat: repeat-x
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dddddd', endColorstr='#eeeeee')
  border-bottom: 1px solid #d2d2d2
  .logo
    position: absolute
    top: 13px
    margin: 0
    
  nav
    float: right
    padding: 26px 0 0 0
    text-align: center
    li,
    a
      color: #212121
    li
      display: inline-block
      margin: 0 5px
      font-size: 18px
      a,
        &:visited
          color: #062a49
      a
        &:hover,
        &:visited:hover
          color: #0066EE

.main-page
  header
    .logo img
      width: auto

.border-bottom-gray
  padding: 0 0 20px

.red-indent p,
p.red-indent 
  text-indent: 30px


.red-indent p *,
p.red-indent * 
  text-indent: 0

.ie7 nav li
  display: inline

/* Footer */

footer
  .offer-box
    margin: 0 0 15px
    color: #5b5b5b
    text-align: left
    font-size: 18px
    a
      display: inline-block
      height: 21px
      color: #5b5b5b
      text-decoration: none
      border-bottom: 1px dashed
      &:hover
        color: #21529d
    .like-box
      margin: 20px 0 0
      .like-button
        display: inline-block
        vertical-align: middle
        .fb-like
          span
            vertical-align: top
  .footer
    margin: 95px auto 140px
    padding: 15px 0 0
    border-top: 1px solid #ccc
    .left-panel
      float: left
      .sns-btns
        float: left
        a, b
          float: left
        b
          color: #999
          font-weight: normal
          font-size: 14px
        a
          margin: 0 0 0 5px
          overflow: hidden
          width: 25px
          height: 25px
          text-indent: 999px
          background: url(../images/likes.png)
          &.tw
            background-position: 0 0
            &:hover
              background-position: -25px 0
          &.fb
            background-position: 0 -27px
            &:hover
              background-position: -25px -27px
          &.li
            background-position: 0 -235px
            &:hover
              background-position: -25px -235px
          &:first-child
            margin: 0
    .right-panel
      float: right
      text-align: right
      p
        margin-top: 4px
        color: #999
        font-size: 14px
.ie7 footer .footer
  padding: 15px 0

.footer-page .footer
  margin: 0 auto

/* Pages */

.center-position 
  text-align: center

.page-title
  margin: 14px 0 0
  color: #042d52
  font-size: 36px
  line-height: 55px
  font-weight: normal
  font-family: 'IntroRegular', times

.main
  p, ul
    font-size: 16px
    a
      font-family: 'PTSansRegular', Helvetica, Arial
      font-size: 16px
      color: #0299d6
      &:hover
        color: #16a
      &:visited
        color: $visitedLinkNormal
        &:hover
          color: $visitedLinkHover

article
  p, ul
    color: #042D52
  h2
    color: #042D52
    font-size: 20px

.gray-text
  p, h2, ul
    color: #222

.large-block
  width: 75%

.middle-block
  width: 49%

.small-block
  width: 23.9%

.left
  float: left
.right
  float: right

em
  color: #a02008
  font-style: normal