<footer>
    <div class="footer max-width clearfix">
        <!--<div class="offer-box">
                <div class="like-button">
                    <a href="https://twitter.com/share" class="twitter-share-button" data-url="https://twitter.com/7bitsEvent" data-dnt="true">Tweet</a>
                </div>
            </div>
        </div>-->
        <div class="left-panel">
            <div class="sns-btns clearfix">
                <a class="tw" href="https://twitter.com/_7bits">Twitter</a>
                <a class="fb" href="http://www.facebook.com/pages/7bits/183878491667239">Facebook</a>
                <a class="li" href="http://www.linkedin.com/company/7bits">LinkedIn</a>
            </div>
        </div>
        <div class="right-panel">
            <p>&copy; 2010&ndash;2012&nbsp; 7bits</p>
        </div>
    </div>
</footer>