<!doctype html>
<!--[if lt IE 7]> <html lang="en-us" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>    <html lang="en-us" class="no-js ie7 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>    <html lang="en-us" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en-us" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">

    <title>{{ page.title }}</title>
    {% if page.description %}
        <meta name="description" content="{{ page.description }}">
        {% if page.keywords %}
            <meta name="keywords" content="{{ page.keywords }}">
        {% endif %}
    {% endif %}

    <link rel="stylesheet" href="assets/css/main.css">
    <link rel="stylesheet" href="assets/css/ptsans.css">
    <link rel="stylesheet" href="assets/css/lobster.css">
    <link rel="stylesheet" href="assets/css/fontello.css">
    <link rel="stylesheet" href="assets/css/fontello-ie7.css">

    <script src="assets/js/libs/modernizr-2.5.3.min.js"></script>
</head>
<body class="{{ page.class }}">