@charset "UTF-8";


.icon-home:before { content: '\2302'; } /* '⌂' */
.icon-flag:before { content: '\2691'; } /* '⚑' */
.icon-mail-1:before { content: '\e801'; } /* '' */
.icon-location:before { content: '\e724'; } /* '' */
.icon-mobile-alt:before { content: '\e7b0'; } /* '' */
.icon-facebook-rect:before { content: '\f301'; } /* '' */
.icon-skype:before { content: '\f30b'; } /* '' */
.icon-tumblr-rect:before { content: '\f310'; } /* '' */
.icon-linkedin-rect:before { content: '\f312'; } /* '' */
.icon-calendar:before { content: '📅'; } /* '\1f4c5' */