body,
html {
    height: 100%;
}

body {
    font-family: arial;
    font-size: 14px;
    background: url(../images/patt.png);
}

.lang {
    margin: 10px 0 0;
    float: right;
}

.lang li {
    padding: 0 5px;
    float: left;
    border-left: 1px solid #ccc;
}

.lang li:first-child {
    border: none;
}

.wrap {
    position: relative;
    margin: auto;
    width: 850px;
}

.header {
    position: relative;
    height: 200px;
    width: 100%;
}

.logo {
    position: absolute;
    left: 0;
    top: 45px;
    width: 253px;
    height: 93px;
    background: url(../images/logo.png) no-repeat;
}

.contacts {
    position: absolute;
    right: 0;
    top: 45px;
    color: #393738;
}

a {
    color: #29ace2;
}

a:hover {
    color: #71d6ff;
}

.content {
    position: relative;
    margin: 0 0 50px;
    color: #201e1e;
    font-size: 25px;
}

.content h2,
.content h3 {
    margin: 25px 0 0;
}

.content h1 {
    font-size: 30px;
}

.content h2 {
    font-size: 30px;
}

.content h3 {
    font-size: 20px;
}

.content p {
    margin: 10px 0;
    font-size: 14px;
    line-height: 19px;
}

.content ul {
    margin: 0 0 0 15px;
}

.content ul li {
    padding: 0 0 0 15px;
    margin: 0 0 5px;
    background: url(../images/line_main_page_list.png) no-repeat 0 8px;
    font-size: 14px;
}

.contacts-list {
    margin: 10px 0 0;
    color: #393738;
}

.contacts-list li {
    margin: 0 0 5px;
}

.contacts-list li b {
    font-weight: normal;
    color: #4b4b4d;
}

.footer {
    margin: 100px 0 0;
}

.like-list {
    text-align: center;
}

.like-list li {
    display: inline-block;
    margin: 0 0 0 5px;
}

.like-list li:first-child {
    margin: 0;
}

*:first-child+html .like-list li {
    display: inline;
}

.like-list li a {
    display: block;
    width: 25px;
    height: 26px;
    background: url(../images/likes.png) no-repeat;
    text-decoration: none;
}

.like-list li.twitter a {
    background-position: 0 0;
}

.like-list li.twitter a:hover {
    background-position: -25px 0;
}

.like-list li.facebook a {
    background-position: 0 -26px;
}

.like-list li.facebook a:hover {
    background-position: -25px -26px;
}

.like-list li.in a {
    background-position: 0 -104px;
}

.like-list li.in a:hover {
    background-position: -25px -104px;
}

.copy {
    margin: 10px 0;
    color: gray;
    text-align: center;
}