.ui-field-contain.ui-br {
    border: none;
}

.ui-btn .ui-icon {
    background-color: #090407;
}

.ui-btn .ui-icon.ui-icon-arrow-r,
.slide-block.ui-icon,
.ui-btn .ui-icon.ui-icon-search,
.ui-btn .ui-icon-add,
.ui-btn .ui-icon-check,
.ui-btn .ui-icon-minus {
    background-color: #2f526d;
}

.ui-select .ui-btn .ui-icon ,
.ui-btn .ui-icon-arrow-d,
.ui-btn .ui-icon-arrow-u,
.ui-btn .ui-icon-delete {
    background-color: #666;
}

.toolbar .ui-btn .ui-icon.ui-icon-delete {
    background-color: #090407;
}

.ui-field-contain.ui-br {
    padding: 0;
    margin: 1em 0;
}