{% include html-begin.html %}

<header>
    <div class="max-width">
        <a href="index.html" class="logo"><img alt="7bits" src="assets/images/logo.png"></a>
        {% include nav.html %}
    </div>
</header>
<div class="main border-bottom-gray">
    {{ content }}
</div>

<footer class="footer-page">
    <div class="footer max-width clearfix">
        <div class="right-panel">
            <p>&copy; 2010&ndash;2012&nbsp; 7bits</p>
        </div>
    </div>
</footer>

{% include html-end.html %}