<!doctype html>
<html lang="ru" class="no-js">
<head>
    <meta charset="utf-8">

    <title>7bits</title>
    <meta name="description" content="Компания, занимающаяся веб-разработкой">

    <link rel="stylesheet" href="assets/css/style.css">
    <link href='http://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic' rel='stylesheet' type='text/css'>

    <script src="assets/js/libs/modernizr-2.5.3.min.js"></script>
</head>
<body class="main-page">
<header>
    <div class="max-width">
        <h1 class="logo"><img alt="7bits" src="assets/images/logo.png"></h1>

        <div class="contacts">
            <h2><a href="#">Контактная информация</a></h2>
            <ul class="contacts-list">
                <li>
                    <b>Email:</b>
                    <a href="mailto:aloha@7bits.it">aloha@7bits.it</a>
                </li>
                <li>
                    <b>Skype:</b>
                    <a href="skype:anna_tarasenko?chat">Anna Tarasenko</a>
                </li>
                <li>
                    <b>Тел:</b> +7 (909) 535-00-73
                </li>
            </ul>
        </div>
    </div>
</header>

{{ content }}

{% include footer.html %}

</body>
</html>