{% include html-begin.html %}

<header>
    <div class="max-width">
        <h1 class="logo"><img alt="7bits" src="assets/images/7bits.png"></h1>
        {% include nav.html %}
    </div>
</header>

{{ content }}

<footer>
    <div class="footer max-width clearfix">
        <div class="offer-box">
            <div id="fb-root"></div>
            <script>
                (function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = "//connect.facebook.net/ru_RU/all.js#xfbml=1";
                fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));
            </script>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
            <div class="like-box">
                <div class="like-button">
                    <div class="fb-like" data-href="http://www.facebook.com/pages/7bits/183878491667239" data-send="false" data-layout="button_count" data-width="130" data-show-faces="false" data-font="segoe ui"></div>
                </div>
                <!--<div class="like-button">
                    <a href="https://twitter.com/share" class="twitter-share-button" data-url="https://twitter.com/7bitsEvent" data-dnt="true">Tweet</a>
                </div>-->
            </div>
        </div>
        <div class="left-panel">
            <div class="sns-btns">
                <b>Следите за нами:</b>
                <a class="tw" href="https://twitter.com/_7bits">Twitter</a>
                <a class="fb" href="http://www.facebook.com/pages/7bits/183878491667239">Facebook</a>
                <a class="li" href="http://www.linkedin.com/company/7bits">LinkedIn</a>
            </div>
        </div>
        <div class="right-panel">
            <p>&copy; 2010&ndash;2012&nbsp; 7bits</p>
        </div>
    </div>
</footer>

{% include html-end.html %}