{% include html-begin.html %}

<header>
    <div class="max-width">
        <h1 class="logo"><img alt="7bits" src="assets/images/logo.png"></h1>

        <div class="contacts">
            <h2><a href="#">Контактная информация</a></h2>
            <ul class="contacts-list">
                <li>
                    <b>Email:</b>
                    <a href="mailto:aloha@7bits.it">aloha@7bits.it</a>
                </li>
                <li>
                    <b>Skype:</b>
                    <a href="skype:anna_tarasenko?chat">Anna Tarasenko</a>
                </li>
                <li>
                    <b>Тел:</b> +7 (909) 535-00-73
                </li>
            </ul>
        </div>
    </div>
</header>

{{ content }}

<footer>
    <div class="footer max-width clearfix">
        <div class="right-panel">
            <p>&copy; 2010&ndash;2012&nbsp; 7bits</p>
            <div class="sns-btns">
                <a class="tw" href="#">Twitter</a>
                <a class="fb" href="#">Facebook</a>
                <a class="li" href="#">LinkedIn</a>
            </div>
        </div>
        <div class="left-panel">
            <script>(function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=215251065204031";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));</script>
            <div class="fb-like" data-href="http://7bits.it" data-send="true" data-width="450" data-show-faces="true"></div>
        </div>
    </div>
</footer>

{% include html-end.html %}